/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

header img {
    height: 80px;
}

header h2 {
    font-size: 2rem;
}

header h3 {
    font-size: 1.5rem;
}

main {
    padding: 20px;
}

.mission, .ticket-packages {
    margin-bottom: 20px;
}

.speakers {
    margin-top: 30px;
}

.speaker {
    margin-bottom: 20px;
    overflow: hidden; /* Ensures that the float doesn't affect the layout */
}

.speaker img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 150px; /* Set a consistent image size */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    width: 100%;
    position: relative;
    bottom: 0;
}
